Ignorar archivos de configuración de Go en cualquier carpeta
go.work
go.work.sum
go.mod
go.sum
.vscode/

Ignorar archivos comprimidos locales
*.zip

Ignorar trabajos individuales pasados
tdas/abb/
tdas/heap/
tdas/cola/
tdas/pila/
tps/
tp1/
guia/